<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--需要增强的类【目标类】-->
    <bean id="targetObject" class="com.chuanqihou.stu.aop2.target.impl.TargetObjectImpl"/>

    <!--增强类-->
    <bean id="myAdvice" class="com.chuanqihou.stu.aop2.advice.MyAdvice"/>

    <aop:config>
        <aop:pointcut id="beforeAdvice" expression="execution(* com.chuanqihou.stu.aop2.target.impl.TargetObjectImpl.beforeAdviceTargetMethod())"/>

        <aop:pointcut id="afterAdvice" expression="execution(* com.chuanqihou.stu.aop2.target.impl.TargetObjectImpl.afterAdviceTargetMethod(..)) and args(msg)"/>

        <aop:pointcut id="aroundAdvice" expression="execution(* com.chuanqihou.stu.aop2.target.impl.TargetObjectImpl.aroundTargetMethod(..))"/>

        <aop:pointcut id="throwableAdvice" expression="execution(* com.chuanqihou.stu.aop2.target.impl.TargetObjectImpl.throwableTargetMethod(..))"/>

        <!--配置切面，ref增强类引用-->
        <aop:aspect ref="myAdvice">
            <!--配置前置通知/增强 method:前置通知方法 pointcut-ref切点引用-->
            <aop:before method="beforeAdvice" pointcut-ref="beforeAdvice"/>
            <!--配置后置通知/增强 arg-names:绑定参数 returning:绑定返回值-->
            <aop:after-returning method="afterAdvice" pointcut-ref="afterAdvice" arg-names="msg,returnValue" returning="returnValue"/>
            <!--配置环绕通知/增强-->
            <aop:around method="roundAdvice" pointcut-ref="aroundAdvice"/>
            <!--配置异常通知/增强-->
            <aop:after-throwing method="throwableAdvice" pointcut-ref="throwableAdvice" throwing="e"/>
        </aop:aspect>

    </aop:config>

</beans>