<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建user对象-->
    <!--<bean id="user" class="com.chuanqihou.spring.bean.User"/>-->

    <!--测试属性name-->
    <!--<bean id="user" name="u,us" class="com.chuanqihou.spring.bean.User"/>-->

    <!--测试depends-on属性-->
    <!--
        depends-on属性用于指定当前bean依赖的其他bean的ID。
        这意味着在初始化当前bean之前，所依赖的bean必须先被初始化。
        如果依赖的bean尚未初始化，则会在当前bean初始化之前先初始化它。
    -->
<!--    <bean id="car" class="com.chuanqihou.spring.bean.Cat"/>
    <bean id="user" class="com.chuanqihou.spring.bean.User" depends-on="car"/>-->

    <!--测试init-method属性-->
    <!--<bean id="user" class="com.chuanqihou.spring.bean.User" init-method="init"/>-->

    <!--测试destroy-method属性-->
    <!--<bean id="user" class="com.chuanqihou.spring.bean.User" destroy-method="destroy"/>-->

    <!--测试scope属性-->
<!--    <bean id="user1" class="com.chuanqihou.spring.bean.User" scope="singleton"/>
    <bean id="user2" class="com.chuanqihou.spring.bean.User" scope="prototype"/>-->

    <!--测试lazy-init属性-->
<!--    <bean id="user1" class="com.chuanqihou.spring.bean.User"/>
    <bean id="user2" class="com.chuanqihou.spring.bean.User" lazy-init="true"/>-->

    <!--测试非静态工厂创建bean-->
    <!--<bean id="user" class="com.chuanqihou.spring.factory.StaticFactoryDemo" factory-method="createBean"/>-->

    <!--测试静态工厂创建bean-->
<!--    <bean id="fc" class="com.chuanqihou.spring.factory.FactoryDemo"/>
    <bean id="user" factory-bean="fc" factory-method="createBean"/>-->

    <!--使用构造方法给简单类型赋值-->
<!--    <bean id="user" class="com.chuanqihou.spring.bean.User">
        <constructor-arg name="userId" value="1001"/>
        <constructor-arg name="userName" value="张三"/>
        <constructor-arg name="userPassword" value="zhangsan"/>
        <constructor-arg name="userAge" value="22"/>
    </bean>-->

    <!--使用构造方法给引用类型赋值-->
<!--    <bean id="cat" class="com.chuanqihou.spring.bean.Cat">
        <constructor-arg index="0" value="擦头"/>
    </bean>

    <bean id="user" class="com.chuanqihou.spring.bean.User">
        <constructor-arg name="userId" value="1001"/>
        <constructor-arg name="userName" value="张三"/>
        <constructor-arg name="userPassword" value="zhangsan"/>
        <constructor-arg name="userAge" value="22"/>
        <constructor-arg name="cat" ref="cat"/>
    </bean>-->

    <!--使用set注入赋值-->
<!--    <bean id="cat" class="com.chuanqihou.spring.bean.Cat"/>
    <bean id="user" class="com.chuanqihou.spring.bean.User">
        <property name="userId" value="1002"/>
        <property name="userName" value="李四"/>
        <property name="userPassword" value="lisi"/>
        <property name="userAge" value="21"/>
        <property name="cat" ref="cat"/>
    </bean>-->

    <!--测试id和name属性-->
<!--    <bean id="user" class="com.chuanqihou.spring.bean.User"/>
    <bean name="user" class="com.chuanqihou.spring.bean.User"/>-->

</beans>